/* You can add global styles to this file, and also import other style files */
table, tr, th, td, input, button,select,option{
  border: 1px solid black;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  padding: 10px;
}
